body {
    background-color: #000;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1em;
}

a {
    color: aqua;
}


#header #title {
    margin-bottom: 0.5em;
}

#header #sub {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
}


#footer {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#footer > * {
    display: table-cell;
    vertical-align: middle;
}


.error {
    color: #ff0000;
}
.success {
    color: #00ff00;
}


ul.platform {
    /* Remove padding and bullets */
    padding-left: 5px;
    list-style: none inside;

    /* Pad it all */
    border-bottom: 1px solid #fff;
    padding-bottom: 1.875em;
}
ul.platform:last-child {
    border-bottom: none;
}

li.train {
    /* Nice paddin */
    padding-left: 1.25em;
}


.train h4 {
    margin-bottom: 0.5em;
}


#form label {
    font-weight: bold;
}


code {
    background-color: #121212;
    font-family: Consolas, monospace;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.1em 0.3em;
}


.no-decorate,
.no-decorate-children * {
    color: inherit;
    text-decoration: none;
}


.left {
    float: left;
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    float: right;
    text-align: right;
}
