{% extends "layout.html" %}


{% block page_title %}Bad Gateway{% endblock %}


{% block title %}502 Bad Gateway{% endblock %}
{% block sub_class %}error{% endblock %}
{% block sub %}An error has occurred on TfL's side.{% endblock %}

{% block content %}
    <p>
        <strong>Status Code:</strong>
        {{ e.description.status_code }}
    </p>
    <p>
        <strong>Text:</strong>
        {{ e.description.text }}
    </p>
{% endblock %}
