{% extends "layout.html" %}


{% block page_title %}About{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
    <p>
        This site aims to provide more detail about London Underground train
        information, compared to other sites displaying similar information.
    </p>
    <p>
        It displays pretty much every useful piece of information available,
        that TfL openly provides via their TrackerNet API
        <a href="#footnote1">[1]</a>, but should not be used as an
        authoritative source of information.
    </p>
    <p>
        This data won't be very helpful to the average Joe. However, using
        this data, in combination with a bucketful, of salt, some common
        sense, past experiences, location context, and knowledge learnt from
        TfL staff, may allow you to make somewhat-educated decisions whilst
        traversing London's transport network. For the past 2+ years, it has
        helped me a lot.
    </p>
    <p>
        If you have any questions, complaints, errors, etc., feel free to
        contact me at <a href="mailto:tnpd@aaraja.com">tnpd@aaraja.com</a>.
        The source code for this website can be found on
        <a href="https://github.com/alir/trackernet-prediction-web">GitHub</a>.
    </p>
    <hr>
    <p>
        <a id="footnote1">[1]</a>
        TfL's terms and conditions require me to inform you that this website
        is <strong><u>Powered by TfL Open Data</u></strong>.
    </p>
{% endblock %}
