<form action="{{ url_for("prediction") }}" id="form" method="get">
    <div>
        <label for="line">Line:</label>
        <select id="line" name="line">
            <option selected value=""></option>
            {% include "lines.html" %}
        </select>
    </div>

    <br>

    <div>
        <label for="station">Station:</label>
        <select id="station" name="station">
            <option selected value=""></option>
            {% include "stations.html" %}
        </select>
    </div>

    <br>

    <input type="submit" value="Go">
</form>
