{% extends "layout.html" %}


{% block page_title %}Index{% endblock %}


{% block title %}TrackerNet PredictionDetailed Gateway{% endblock %}

{% block sub %}
    Running <code>{{ config.GIT_DESCRIBE }}</code>
{% endblock %}

{% block content %}
    {% include "form.html" %}
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector("#line").addEventListener("change", (event) => {
            const line = event.target.value;

            const selectEl = document.querySelector("#station");
            // [data-lines] so it doesn't try to do anything with the "default" blank option
            const optionEls = Array.from(selectEl.querySelectorAll("option[data-lines]"));

            // Hide them all first
            optionEls.forEach((el) => el.hidden = true);

            // Now just show the ones that belong to that line
            optionEls
                // Just do a string search so we can avoid having to split it
                // into an array and doing a `.indexOf`, which would be
                // unnecessarily expensive
                .filter((el) => el.getAttribute("data-lines").search(line) >= 0)
                .forEach((el) => el.hidden = false);

            // Reset the select to index `0` (blank) because otherwise it'll
            // just stay on whatever we had selected previously
            selectEl.selectedIndex = 0;
        });
    </script>
{% endblock %}
