{% extends "layout.html" %}


{% block page_title %}KeyCheck{% endblock %}


{% block title %}Key Check{% endblock %}

{% block sub_class %}
    {% if app_keys_set %}
        success
    {% else %}
        error
    {% endif %}
{% endblock %}

{% block sub %}
    {% if app_keys_set %}
        App ID and App Key are set.
    {% else %}
        App ID and App Key are NOT set.
    {% endif %}
{% endblock %}

{% block content %}
    {% if app_keys_set %}
        <p>
            <strong>sha256(APP_ID):</strong>
            &nbsp;
            <code>{{ sha256_app_id }}</code>
        </p>
        <p>
            <strong>sha256(APP_KEY):</strong>
            &nbsp;
            <code>{{ sha256_app_key }}</code>
        </p>
    {% endif %}
{% endblock %}
