<option value="B">Bakerloo</option>
<option value="C">Central</option>
<option value="D">District</option>
<option value="H">Hammersmith & Circle</option>
<option value="J">Jubilee</option>
<option value="M">Metropolitan</option>
<option value="N">Northern</option>
<option value="P">Piccadilly</option>
<option value="V">Victoria</option>
<option value="W">Waterloo & City</option>
