{% extends "layout.html" %}


{# http://content.tfl.gov.uk/trackernet-data-services-guide-beta.pdf  #}
{# (Page 9) #}


{% block page_title %}
    {{ result.S["N"] }} ({{ result.LineName.text }}) | Prediction
{% endblock %}


{% block title %}
    {{ result.LineName.text }} - {{ result.S["N"] }}
{% endblock %}
{% block sub_class %}success{% endblock %}
{% block sub %}Last Updated: {{ result.WhenCreated.text }} UTC{% endblock %}

{% block content %}
    <div id="result">
        {% for platform in result.S.find_all("P") %}
            <ul class="platform">
                <h3>{{ platform["N"] }}</h3>

                {% for train in platform.find_all("T") %}
                    <li class="train">
                        <h4>
                            {{ train["SetNo"] }} {{ train["Destination"] }}
                        </h4>

                        <ul class="train-description">
                            {% for attr in attrs %}
                                <li>
                                    <strong>{{ attr }}:</strong>
                                    {{ train[attr] }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
